body{
    background: url(https://i.pinimg.com/736x/8c/dc/87/8cdc87edb2975fc9c6c179831bce7ad4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border: 0;
    margin: 0;
    padding: 0;
    font-family: Verdana;
}