.container {
  background: #a7774b;
  position: fixed;
  width: 100%;
  height: fit-content;
  margin: 0;
  padding: 15px 20px;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  width: 25%;
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.bar {
  height: 3px;
  width: 25px;
  background-color: white;
  margin: 4px 0;
  transition: all 0.3s ease;
}

.menu {
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 20px;
}

.link {
  text-decoration: none;
  color: #fff;
  font-size: 24px;
  font-weight: 700;
}

.link:hover {
  color: #f8b372;
  transition: all 0.3s ease;
  transform: scale(1.2);
}

.form {
  display: flex;
  align-items: center;
}

.input {
  width: 300px;
  height: 30px;
  border-radius: 5px;
  border: none;
  padding: 10px 5px;
  outline: none;
}

.button {
  background: #f8b372;
  color: #fff;
  margin-left: 10px;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
}

/* Responsive */
@media (max-width: 1024px) {
  .container {
    justify-content: space-between;
  }
  .logo {
    width: 100%;
    justify-content: space-between;
  }
  .hamburger {
    display: flex;
  }

  .menu {
    display: none;
    flex-direction: column;
    align-items: end;
    width: 100%;
    background: #a7774b;
    position: absolute;
    top: 70px;
    left: 0;
    gap: 10px;
    padding: 20px 40px;
  }

  .menu.open {
    display: flex;
  }

  .input {
    width: 80%;
  }

  .form {
    gap: 10px;
  }
}
